<nav id="side-menu">
    <h1>Menu</h1>
    <hr id="menu-divider" class="divider">
    <ul class="page-links">
        <li class="nav-item"><a href="/products">Produtos</a></li>
        <li class="nav-item"><a href="/addproduct">Adicionar Produto</a></li>
    </ul>
    <hr id="menu-divider" class="divider">
    <ul class="page-links">
        <li class="nav-item"><a href="/orders">Pedidos</a></li>
        <li class="nav-item"><a href="/addorder">Adicionar Pedido</a></li>
        <li class="nav-item"><a href="/logout">Sair</a></li>
    </ul>
</nav>