<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/header') %>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <%- include('partials/navbar') %>
    
    <main>
        <h1>Lista de Produtos</h1>
        <hr class="divider">
        <input type="text" name="productname" placeholder="Pesquise um produto" autocomplete="off">

        <section id="products-container">
            <!--TODO:
                - adicionar os produtos aqui;
                - habilitar a pesquisa de produto
            -->
        </section>
    </main>
</body>
</html>