:root {
    --default-border: 2px solid black;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: none;

    font-size: 12pt;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

#side-menu, main {
    padding: 20px;
}

#side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    max-width: 25vw;
    height: 100vh;

    color: white;
    background-color: black;
}

#page-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nav-item {
    list-style-type: none;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

main {
    height: fit-content;
    width: calc(100% - 200px);
    min-width: 75vw;

    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 auto;
    font-size: 16pt;
}

h2 {
    font-size: 14pt;
}

.divider {
    width: 100%;
    margin: 20px auto;
    border-top: 3px solid black;
}

#menu-divider {
    border-color: white;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border: var(--default-border);
}

input[type="submit"] {
    width: 60%;
    
    margin: 10px auto;
    padding: 10px;
    
    background-color: black;
    color: white;
    cursor: pointer;
}

.error-msg {
    margin: auto;
    color: red;
}